body{
	font-family: 'Noto Sans TC', sans-serif;
}

#map{
	width: 100vw;
	height: 65vh;
}

.map_big{
	height: 80vh !important;
}

header{
	padding: 1rem;
	background: #f0f0f0;
}

footer{
	font-size: .8rem;
	color: #333;
	text-align: center;
}

footer a, footer a:visited{
	color: inherit;
}

input[type="date"]{
	letter-spacing: -1px;
	width: 140px;
}

.button{
	display: inline-block;
	border: 1px solid #333;
	cursor: pointer;
	padding: .5rem;
}

.button:hover{
	background: #ccc;
}

#chart{
	/* width: 100%; */
}

.chart{
	width: 100vw;
	height: calc(100vh - 70vh - 5rem);
}

.marker{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 15px;
	/* font-weight: 800; */
	line-height: 20px;
	text-align: center;
	border: 1px solid black;
}

.marker-before{
	background: lightblue;
}

.marker-after{
	background: yellow;
}

.marker-drop{
	background: rgba(255, 0, 0, 0.8)
}

span.label{
	width: 5px;
	height: 1rem;
	background: transparent;
	display: inline-block;
	margin-right: .5rem;
	vertical-align: bottom;
}

#before822 span.active{
	background: lightblue;
}

#after822 span.active{
	background: yellow;
}

#drops span.active{
	background: rgba(255, 0, 0, 0.8);
}

h1{
	display: inline-block;
	font-size: 1.2rem;
	margin: 0 0.5rem 0 0;
}

#switch{
	position: fixed;
	top: .6rem;
	right: 1rem;
}

#switch a, #switch a:visited{
	color: inherit;
}